.profilePageBackground {
    min-width: 100vh;
    min-height: 100vh;
}
.profilePageBackgroundTop {
    width: auto;
    height: 46vh;
}
.profilePageBackgroundLineSeparate {
    background-color: #7604F1;
    height: 1vh;
    width: auto;
}
.profilePageBackgroundBottom {
    background-color: #DF689D;
    width: auto;
    height: 53vh;
    bottom: 0;
}