.profilePageImageBackground {
    background-color: #FFF0F1;
    border-radius: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: #D323A7;
    height: 150px;
    width: 150px;
    float: right;
    position: absolute;
    right: 30px;
    top: 70px;
}
.profilePageLogoImage {
    width: 95%;
    height: 95%;
}