#profilePageTitle {
    float: left;
    height: 0;
    margin-left: 10%;
}
#profilePageLogoutButton {
    position: absolute;
    top: 10px;
    right: 30px;
}
#profilePageTranslateButton {
    position: absolute;
    bottom: 70px;
    right: 30px;
}
#profilePageClearButton {
    position: absolute;
    bottom: 20px;
    right: 30px;
}
.profilePageButton {
    background-color: #D323A7;
    font-size: 200%;
    border-width: 1px;
    border-color: #7604F1;
    color: #FFF0F1;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 3px;
    float: right;
    border-style: solid;
    border-radius: 15px;
    text-decoration: none;
}
.clearfix {
    clear:both;
    float: right;
}
#profilePageBrand {
    float: right;
    height: 0;
    margin-right: 2%;
    margin-top: 8%;
}