.profilePageTitleBackground {
    background-color: #FFF0F1;
    border-width: 1px;
    border-style: solid;
    border-color: #7604F1;
    border-radius: 15px;
    min-width: 10px;
    width: fit-content;
    height: 70px;
    min-height: 15px;
    float: left;
    margin-left: 5%;
    margin-top: 3%;
}
.profilePageTitleText {
    margin-top: 2%;
    width: auto;
    font-size: 175%;
}
.profilePageTitleTopLine {
    background-color: #7604F1;
    width: auto;
    height: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}