.profilePageRecentTranslationsBackground {
    background-color: #FFF0F1;
    border-width: 1px;
    border-style: solid;
    border-color: #7604F1;
    border-radius: 15px;
    min-width: 350px;
    width: 76%;
    min-height: 440px;
    float: left;
    margin-left: 4%;
    margin-top: 4%;
}
.profilePageRecentTranslationElement {
    width: auto;
    text-align: left;
    font-size: 180%;
    border-bottom-style: solid;
    border-bottom-color: #7604F1;
    border-bottom-width: 1px;
}
.profilePageRecentTranslationsTopLine {
    background-color: #7604F1;
    width: auto;
    height: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}