.translationPageImageBackground {
    background-color: #FFF0F1;
    border-radius: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: #D323A7;
    height: 80px;
    width: 80px;
    float: left;
    margin: 1%;
}
.translationPageLogoImage {
    width: 95%;
    height: 95%;
}