.translationPageBackground {
    min-width: 100vh;
    min-height: 100vh;
}
.translationPageBackgroundTop {
    background-color: #DF689D;
    width: auto;
    height: 18vh;
    bottom: 0;
}

.translationPageBackgroundLineSeparate {
    background-color: #7604F1;
    height: 1vh;
    width: auto;
}
.translationPageBackgroundBottom {
    width: auto;
    height: 81vh;
    background-color: white;
}
