.translationPageProfileCircle {
    background-color: #7604F1;
    border-radius: 100%;
    border-width: 2px;
    border-style: solid;
    border-color: #A7C4DC;
    margin: 1%;
    height: 60px;
    width: 60px;
    float: right;
}
.translationPageProfileOuterCircle {
    background-color: #7604F1;
    border-color: #7604F1;
    border-radius: 25% 15% 15% 25%;
    border-width: 2px;
    margin-top: 1%;
    margin-right: 1%;
    height: 68px;
    width: fit-content;
    float: right;
}
.translationPageProfilePicture {
    width: 95%;
    height: 95%;
}
.translationPageProfileNameTag {
    float: top;
    position: relative;
    color: #A7C4DC;
    font-size: 200%;
    margin: auto;
    padding-top: 6%;
    width: 250px;
    text-align: right;
}