.translationPageOutputBackground {
    background-color: #FFF0F1;
    border-width: 1px;
    border-style: solid;
    border-color: #7604F1;
    border-radius: 15px;
    min-width: 450px;
    width: 86%;
    height: 400px;
    float: right;
    margin-right: 5%;
    margin-top: 2%;
}
.translationPageOutputContainer {
}
.translationPageOutputImage {
    height: 90px;
    width: 90px;
}
.translationPageOutputUnderline {
    background-color: #7604F1;
    width: 1049px;
    height: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    bottom: 38px;
    left: 108px;
    position: absolute;
}