.translationPageFormBackground {
    background-color: #FFF0F1;
    border-width: 1px;
    border-style: solid;
    border-color: #7604F1;
    border-radius: 15px;
    min-width: 450px;
    width: 86%;
    min-height: 65px;
    float: right;
    margin-right: 5%;
    margin-top: 1%;
}
.translationPageFormButton {
    border-radius: 100%;
    width: 4.5%;
    border-style: none;
    background-color: #D323A7;
    font-size: 200%;
    color: #FFF0F1;
    align-content: center;
    margin: 1%;
    float:right;
    text-decoration: none;
}
.translationPageFormInput {
    height: 75%;
    width: 90%;
    margin-top: 1%;
    font-size: 200%;
    float: left;
    margin-left: 1%;
    background-color: transparent;
    border-color: transparent;
}
.translationPageFormUnderline {
    background-color: #7604F1;
    width: auto;
    height: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    bottom: 0;
    margin-top: 6%;
}
::placeholder {
    opacity: 1;
    color: #A7C4DC;
}