.startPageBackground {
    min-width: 100vh;
    min-height: 100vh;
}
.startPageBackgroundTop {
    width: auto;
    height: 46vh;
}
.startPageBackgroundLineSeparate {
    background-color: #7604F1;
    height: 1vh;
    width: auto;
}
.startPageBackgroundBottom {
    background-color: #DF689D;
    width: auto;
    height: 53vh;
    bottom: 0;
}