.startPageImageBackground {
    background-color: #FFF0F1;
    border-radius: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: #D323A7;
    height: 250px;
    width: 250px;
    float: left;
    margin-left: 8%;
    margin-top: 2%;
}
.startPageLogoImage {
    width: 95%;
    height: 95%;
}