.App {
  text-align: center;
}

body {
  color: #223127;
}

h1 {
  font-family: ZenTokyoZoo, serif;
  font-size: 400%;
}

h2 {
  font-family: TrainOne, serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@font-face {
  font-family: "ZenTokyoZoo";
  src: local("Life-savers"), url(./assets/fonts/ZenTokyoZoo-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "ZenLoopItalic";
  src: local("Life-savers"), url(./assets/fonts/ZenLoop-Italic.ttf) format("truetype");
}
@font-face {
  font-family: "ZenLoop";
  src: local("Life-savers"), url(./assets/fonts/ZenLoop-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "TrainOne";
  src: local("Life-savers"), url(./assets/fonts/TrainOne-Regular.ttf) format("truetype");
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
